{% extends 'padres/base.html' %}


{% block title_pagina %}
<title>Ver jugadores</title>
{% endblock title_pagina %}


{% block mi_contenido %}
<p>Listado de jugadores:</p>
   
<form action={% url 'ver_jugadores' %} method="GET">
    <div id= "custom-search-input" >
        <input type='text' class='form-control' placeholder= 'Nombre y apellido...' name='buscar' 
    </div>
        <input type= 'submit' value= 'Buscar'>
    </form>
<p>
    {% if jugador %}

        {% for jugadores in jugador %}
            <li>{{jugadores.nombre}} {{jugadores.apellido}} {{jugadores.edad}}</li>
        {% endfor %}

    {% else %}
        <p>No se encontraron resultados.</p>
    {% endif %}

</p>
{% endblock mi_contenido %}

