{% extends 'padres/base.html' %}


{% block title_pagina %}
<title>Jugador: </title>
{% endblock title_pagina %}


{% block mi_contenido %}

<p>         <li>{% if jugador.imagen %}
            <img src={{jugador.imagen.url}} alt="">
            {% else %}
            Imagen no cargada
            {% endif %}
            </li>
            <li>Nombre: {{jugador.nombre}}</li>
            <li>Apellido: {{jugador.apellido}}</li>
            <li>Nacionalidad: {{jugador.nacionalidad}}</li>
            <li>Lugar de nacimiento: {{jugador.lugar_de_nacimiento}}</li>
            <li>Fecha de nacimiento: {{jugador.fecha_de_nacimiento}}</li> 
            <li>Edad: {{jugador.edad}}</li>
            <li>Equipo: {{jugador.equipo_actual}}</li> 
            <li>Pos.: {{jugador.posicion}}</li>
            <li>Altura: {{jugador.altura}}mts</li> 
            <li>Peso: {{jugador.peso}}kg</li>
            <li><a href={% url 'editar_jugador' jugador.id %}>Editar</a></li>
            <li><a href={% url 'eliminar_jugador' jugador.id %}>Eliminar</a></li>
        
</p>
{% endblock mi_contenido %}

