{% extends 'padres/base.html' %}


{% block title_pagina %}
<title>Ver jugadores</title>
{% endblock title_pagina %}


{% block mi_contenido %}
<h1>Listado de jugadores:</h1>

<form action={% url 'ver_jugadores' %} method="GET">
    {{formulario}}
    <button> Buscar </button>    
</form>
   
<p> 
    {% if jugadores %}
 
        {% for jugador in jugadores %}
        <p><a href={% url 'ver_jugador' jugador.id %}>{{jugador.nombre}} {{jugador.apellido}}, {{jugador.nacionalidad}}</a></p>
           
        {% endfor %}

    {% else %}
        <p>No se encontraron resultados.</p>
    {% endif %}

</p>
{% endblock mi_contenido %}

