{% extends 'padres/base.html' %}


{% block title_pagina %}
<title>Ver jugadores</title>
{% endblock title_pagina %}


{% block mi_contenido %}
<p>Listado de jugadores:</p>

<form action={% url 'ver_jugadores' %} method="GET">
    
        {{formulario}}
    
    <button> Buscar </button>
</form>
   
<p> 
    {% if jugador %}
 
        {% for jugador in jugadores %}
            <li>{{jugador.nombre}} {{jugador.apellido}} {{jugador.lugar_de_nacimiento}} {{jugador.fecha_de_nacimiento}} {{jugador.edad}} {{jugador.equipo_actual}} {{jugador.posicion}} {{jugador.altura}} {{jugador.peso}}</li>
        {% endfor %}

    {% else %}
        <p>No se encontraron resultados.</p>
    {% endif %}

</p>
{% endblock mi_contenido %}

