{% extends 'padres/base.html' %}

{% block title_pagina %}
<title>Responder mensaje</title>
{% endblock title_pagina %}


{% block mi_contenido %}
<p>Mensaje: </p>
   <p> 
        {{chat.nombre}} 
        {{chat.apellido}}.                                 
        Fecha de creación: {{chat.fecha_de_creacion}}
        <p><span span style="border-image: initial; border: 1px solid blue">{{chat.chat}}</span> 
        
   {% comment %} <form action={% url 'responder_mensaje' chat.id %} method="POST">
            {% csrf_token %}
            <table>
                {{form.media}}
                {{form}}
            </table>
            <button>Editar</button> 
    </form>         {% endcomment %}
    </p> 
{% endblock mi_contenido %}